@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
.search-text::placeholder {
    font-family: "PT Sans Narrow", sans-serif;
}

li {
    list-style-type: none;
}

.container {
    width: 70%;
    margin-inline: auto;
}

img {
    width: 100%;
    display: block;
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.top-banner {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $color-active-link;
    padding-block: 15px;

    .container {
        display: flex;
        justify-content: end;
        gap: 40px;
    }

    span:hover {
        cursor: pointer;
    }
}

.header-chevron {
    margin-left: 4px;
}

.active-link:hover {
    @include active-link;
}

.active-link-condition {
    @include active-link;
}

.search-box {
    border-bottom: 2px solid $color-active-link;

    .search-text {
        font-size: 15px;
        height: 40px;
        border: 0;
        padding-inline: 15px;

        &::placeholder {
            color: black;
            text-align: end;
            font-size: 20px;
        }

        &:focus {
            outline: none;
        }
    }

    i {
        font-size: 20px;
    }
}

.comics-grid {
    background-color: $color-bg-list;
}

.blue-element {
    background-color: $color-active-link;
}

.lower-footer {
    a {
        color: $color-active-link;
    }
}

.dark-element {
    background-color: $color-bg-footer;
}

.footer-accounts {
    button {
        border: 2px solid $color-active-link;

        &:hover {
            cursor: pointer;
        }
    }

    h3 {
        color: $color-active-link;
        text-transform: uppercase;
    }
}
